.App-title {
  color: rgb(172, 172, 172);  
  text-align: center;
  margin-top: 20px;
}

.Pokedex {
  margin: 10px 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.Pokecard {
  box-sizing: border-box;
  width: calc(200px);  
  margin: 10px 50px;  
  border: 1px solid #eee;
  padding-bottom: 20px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 221, 221);  
  border-radius: 10px; 
}

.Pokecard img {
  margin-bottom: 10px;
}
